#areas{
  grid-area:b;
}
#areas .acts{
  display:grid;
  grid-auto-flow:row;
  grid-template-columns:repeat(3,auto);
  grid-gap:1em;
}
#areas h2{
  font-size:1em;
  margin:0;
  margin-bottom:.25em;
}
#areas .area.ticked{
  text-decoration:line-through;
}
#areas .area:not(.open){
  color:grey;
}
